/* Общее-главное */
html {
    box-sizing: border-box;
}

html, 
body {
    height: 100%; /* прибивка шапки и низа */
    background-color: #d6d0fc;

}

*, *::after, *::before {
    box-sizing: inherit; /* как у родителя */
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper { /* прибивка шапки и низа */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1600px;
    margin: 0 auto;  /* разместить по центру */
    padding: 0 10px;
}

.body {
    font-family: 'Literata', serif;
    font-size: 16px;
    font-weight: 400; /* ширина текста */
    line-height: 1.3;
}


/* Шапка */

.header {
     background-color: #d6d0fc; 
    position: relative;
}

.header-main {
     background-color: transparent;
}

.header__inner {
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.menu__list {
    text-align: left;
    display: flex;
    gap: 35px;
}

.menu__list-link{
    color: #110437;
    text-transform: uppercase;
    font-weight: 700;
}

.logo__img {
    min-width: 80px;
    max-width: 150px;
    text-transform: uppercase;
}

.logo {
    min-width: 80px;
    max-width: 300px;
    font-size: 30px;
    font-weight: 700;
    color: #110437;
}



/* Bottom_links */

.footer {
    background-color: #d6d0fc;
    padding: 30px 0 25px;
    color: #110437;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
}

.footer__menu-list {
    max-width: 350px;
}

.footer__menu-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.footer__menu-item {
    font-size: 25px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 15px;
}


/* Main */

.main {
    flex-grow: 1; /* прибивка шапки и низа */
}

/* заставка */

.top {
    color: #110437;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../images/main_back.svg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.top-main {
    height: 80vh;
}

.title {
    padding-bottom: 17px;
    font-size: 140px;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle {
    font-size: 48px;
    font-weight: 400;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
}

/* Subject page */

.sbj__title {
    padding-bottom: 50px;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

.sbj__subtitle {
    font-size: 18px;
    font-weight: 400;
    max-width: 650px;
}

.slider {
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    height:70vh;
    background: url("../images/light.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /* border-radius: 50px; */
    /* background: rgba(255, 255, 255, 1); */
    
}

.swiper-pagination-bullet {
    width: 100px;
    height: 5px;
    background-color: #5D7F92; 
    border-radius: 0;
    margin: 0 15px;
}

.swiper-pagination-bullet-active {
    background-color: #528CA0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets
.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 20px;
}


 .card {
    padding: 30px 15px;
    display: flex;
    /* position: relative; */
    justify-content: space-around;
 }

.photo {
    /* padding: 15px 20px;
    position: absolute; */
    max-width: 800px;
}

.card-text {
    padding-left: 40px;
    color: #110437;
    max-width: 1000px;
}

.name {
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 15px;
}

.year {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 9px;
}

.job {
    font-size: 33px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
}

.quote {
    font-size: 30px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 30px;
}

.desc {
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 30px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}


/* Subjects */

.section {
    padding: 10px 0;
    padding-bottom: 50px;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 60px;

    text-align: center;
    color: #110437;
}


.section_title {
    font-size: 90px;
    font-weight: 700;
    font-family: 'Literata', serif;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section_text {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.services-wrapper {
    background: url("../images/light.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.services {
    display: flex;
}

.services_item {
    flex: 1 1 0;
    margin-top: 30px;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 40px;
}

.services_icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    z-index: 1;
    width: 80px;
    height: 80px;
}

.services_title {
    margin-bottom: 10px;

    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #F02A1D;
}

.services_text {
    font-size: 20px;
    text-align: center;
    color: #110437;
}

/* Something */
/* .something {
    background: url("../images/light.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
} */


/* Thanks */

.thank_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
    background: url("../images/light.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #110437;
}

.p_photo {
    max-width: 150px;
    margin-bottom: 30px;
}

.p_name {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}

.information {
    font-size: 20px;
    font-weight: 400;
}



/* PERSON.HTML */

/* interview */

.interview {
    background: url("../images/light.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 40px;
}

.question_block {
    max-width: 2000px;
}

.name_of_block {
    padding-top: 60px;
    font-size: 40px;
    text-transform: uppercase;
    color: #110437;
    text-align: left;
}

.question_list {
    padding: 50px 0 50px;
    counter-reset: myCounter;
}

.question {
    list-style-type: none;
    font-size: 30px;
    font-weight: 500;
    color: #F02A1D;
    padding-bottom: 30px;
}

.question:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    display: inline-block;
    background-color: #6207E9;
    font-size: 10px;
    font-weight: 700;
    width: 300px;
    height: 10px;
    border-radius: 3%;
}

.answer {
    font-size: 25px;
    font-weight: 300;
    color: #110437;
    padding-bottom: 50px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    text-indent: 50px;
}
